.invoice-edit-container{
  margin-top: 50px;
  width: 400%;
  height: auto;
  background-color: rgb(126, 161, 154);
  border-radius: 5px 5px 5px 5px;
}
.invoice.invoice-edit-title-container{
width: 100%;
height: auto;
padding-top: 40px;
margin-left: 9px;
background-color: rgba(249, 246, 246, 0.904);

  /* background-color: brown; */
  /* margin-top: 10px; */
  }
.invoice-edit-title-row{
  width: 102%;
  height: 70px;
  background-color: rgba(249, 246, 246, 0.904);
  margin-bottom: 50px;
  border-radius: 6px 6px 6px 6px;
      /* margin-top: 50px; */
      /* padding-top: 10px; */
      }

      .container-title {
        padding-top: 15px;
        margin-left: 30px;
        font-size: medium;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        
    }

      .companytitle-container {
        display: flex;
        /* Use flexbox for vertical alignment */
        align-items: center;
        /* Center items vertically */
        /* margin-top: 30px; */
        width: 100%;
        /* height: 400px; */
        background-color: rgba(249, 246, 246, 0.904);
      }

      .company-container {
        /* margin-top: -12px; */
        width: 100%;
        height: 300px;
        background-color: rgba(249, 246, 246, 0.904);
        padding-top: 20px;
    }

.company-information {
      margin-top: 20px;
      width: 100%;
      height: 50%;
      /* margin-left: -1px; */
      background-color: rgba(249, 246, 246, 0.904);
        
  }



  .property-information {
    margin-top: 20px;
    width: 100%;
    height: 50%;
    /* margin-left: -7px; */
    background-color: rgba(249, 246, 246, 0.904);
      
}
  
.propertytitle-container {
display: flex;
/* Use flexbox for vertical alignment */
align-items: center;
/* Center items vertically */
/* margin-top: 30px; */
width: 100%;
/* height: 400px; */
height: auto;
background-color: rgba(249, 246, 246, 0.904);
}


.property-container {
width: 100%;
height: 280px;
background-color: rgba(249, 246, 246, 0.904);
padding-bottom: 20px;
padding-top: 30px;
}

/* .property-infomation {
margin-top: 40px;
width: 100%;
height: auto;
margin-left: 18px;
padding-bottom: 50px;
} */

.billingperiodtitle-container {
display: flex;
/* Use flexbox for vertical alignment */
align-items: center;
/* Center items vertically */
/* margin-top: 30px; */
width: 100%;
/* height: 400px; */
background-color: rgba(249, 246, 246, 0.904);
}

.billingperiod-container {
/* margin-top: 30px; */
width: 100%;
height: 240px;
background-color: rgba(249, 246, 246, 0.904);
padding-top: 10px;
}

.billingperiod-infomation {
margin-top: 20px;
width: 100%;
height: 50%;
/* margin-left: -7px; */
background-color: rgba(249, 246, 246, 0.904);
}


.paymenttitle-container {
display: flex;
/* Use flexbox for vertical alignment */
align-items: center;
/* Center items vertically */
margin-top: 30px;
width: 100%;
/* height: 400px; */
background-color: rgba(249, 246, 246, 0.904);
}

.payment-container {
padding-top: 20px;
width: 100%;
height: auto;
background-color: rgba(249, 246, 246, 0.904);
}

.payment-infomation {
margin-top: 20px;
width: 100%;
height: 50%;
background-color: rgba(249, 246, 246, 0.904);
}

.transfertitle-container {
display: flex;
/* Use flexbox for vertical alignment */
align-items: center;
/* Center items vertically */
width: 100%;
/* height: 400px; */
background-color: rgba(249, 246, 246, 0.904);
}

.transfer-container {
width: 100%;
height: 250px;
background-color: rgba(249, 246, 246, 0.904);
padding-top: 30px;
}

.transfer-infomation {
margin-top: 20px;
width: 100%;
height: 50%;
background-color: rgba(249, 246, 246, 0.904);
}





.invoice-create-form{
  margin-left: 1%;
  width: 100%;
  height: auto;
  background-color: rgba(249, 246, 246, 0.904);
}
.button-group{
width: 100%;
height: 70px;

}


button{
align-content: center;
color:black;
width: 150px;
background-color:rgb(127, 161, 154);
}

.btn-reset {
border: 1px solid #000;
background-color: #fff;
color: #000;
}

.btn-reset {
margin-right: 10px;
border-radius: 5px;
border:0.5px #000;
width: 150px;
height: 35px; /* Add any desired margin */
}
.button-text{
color:black
}
.button-text:hover{
color:black;
}
.createbutton-text{
color:white;
}
.createbutton-text:hover{
color:black;
}
.create
{
margin-right: 10px;
border-radius: 5px;
border:0.5px #000;
background-color: #376fc3; /*screenshot 3 */
width: 150px;
height: 35px;
}
.button-text{
color:black
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
appearance: none;
margin: 0;
}

.help-block{
color: red;
font-size: 12px;
}

.left-label{
margin-left: 1px;
}

.left-textfield
{
margin-left: -38px;
}
.yen{
margin-left: -40px;
}

.inner-label{
margin-left: -60px;
}
.inner-textfield{
margin-left: -50px;
}
.inner-total-textfield
{
margin-left: -70px;
}
.inner-yen
{
margin-left: 65px;
}
.inner-selectBox
{
margin-left: -130px;
}
.month-label
{
margin-left: -155px;
}


.arrow-icon::before {
content: '\25BC';
/* Downward-pointing arrow character */
font-size: 25px;
margin-top: 80px;
margin-right: 5px;
/* Adjust the spacing between the icon and title */
margin-left: 20px;
transition: transform 0.3s;
cursor: pointer;
/* Smooth transition for the arrow rotation */
}

.arrow-up::before {
content: '\25B2';
/* Upward-pointing arrow character */
transform: rotate(180deg);
/* Rotate arrow to point upwards */
}

.container-content {
/* margin-top: -100px; Adjust the margin as needed to control the spacing */
padding-top: -100px;
margin-bottom: 70px;
}

.container-header {
display: flex;
align-items: center;
width: 100%;
/* height: 400px; */
background-color: rgba(249, 246, 246, 0.904);
/* Vertically align the arrow icon and title */
}

.container-title {

margin-left: 10px; /* Adjust the margin as needed to control the spacing between the arrow icon and title */
/* padding:5px; */
}
