<head>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet"> 
</head>
<body>
<div class="wrapper">
  <form #loginForm="ngForm" (ngSubmit)="loginUser(f)" #f="ngForm">
    <h3 style="font-weight: 600;">不動産管理システム</h3>
    <div class="login-image">
      <!-- <img src="assets/images/starlight.jpg"> -->
      <mat-icon class="login-icon">home</mat-icon>
    </div>
    <div class="input-box">
      <label for="email">メールアドレス</label>
      <input 
      type="email"
      class="form-control"
      id="email"
      required 
      [(ngModel)]="userInfo.email"
      #email="ngModel"
      name="email"
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
      required [ngClass]="{'is-valid':email.touched && email.invalid || ( email.invalid)}">
      <i class='bx bxs-envelope'></i>
      <span  class="help-block" *ngIf="!email.valid && (email.touched )">
        メールアドレスを入力してください。
     </span>
    </div>
    
    <br>
    <div class="input-box">
      <label for="password">パスワード</label>
      <input 
        type="{{ passwordType }}" 
        class="form-control" 
        id="password"
        name="password"
        required [(ngModel)]="userInfo.password"
        #password="ngModel"
        placeholder="">
      <h5>※英数字半角、8文字以上を入力してください。</h5>
      <i class="bi" 
      [ngClass]="passwordType === 'password' ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
      <span class="help-block" *ngIf="!password.valid && password.touched">
        パスワードを8文字以上入力してください。
      </span>
      <span class="help-block" *ngIf="formSubmitted && errorMessage">{{ errorMessage }}</span>
        
    </div>
    <!-- <div class="error-container" *ngIf="errorMessage">
      <span class="error-message">{{ errorMessage }}</span>
      <button class="close-button" (click)="closeErrorMessage()">Close</button>
  </div> -->
    <br>
    <br>
    
    <button class="btn" type="submit">ログイン
      <i class="bx bx-lock-alt"></i>
    </button>
    
    <div class="remember-forgot">
      <!-- <label><input type="checkbox">Remember me
      </label> -->
      <a (click)="handelForgotPasswordAction()">パスワードを忘れた方はこちら</a>
    </div>

  </form>
</div>
</body>
