<body>
    <div class="container owner-main">
        <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row" style="text-align: center;margin-top: 10px;">
            <div class="col-md-12">
                {{companyName}}
            </div>
        </div>
        <br>
        <div class="row">
                <p style="text-align: center;">{{name}}様、いつもお世話になっております。</p>
        </div>
        <br>
        <div class="row">
            <img src="assets/ownermainpage.png" alt="ownerMain" style="width: 50%;margin-left: 30%;">
        </div>
        
        <div class="card" >
            <div class="card-title" style="text-align: center;">
                    <p>お知らせ</p>
            </div>
            <div class="card-body">
                <span>2023.03.11</span><a href="#">桜不動産管理システムからのご案内書類</a>
                <br>
                <span>2023.03.11</span><a href="#">桜不動産管理システムからのご案内書類</a>
                <br>
                <span>2023.03.11</span><a href="#">桜不動産管理システムからのご案内書類</a>
                <br>
                <span>2023.03.11</span><a href="#">桜不動産管理システムからのご案内書類</a>
                <br>
                <span>2023.03.11</span><a href="#">桜不動産管理システムからのご案内書類</a>
                <br>
            </div>
        </div>
    </form>
    </div>
    </body>