<div class="container dialog-container" style="width: auto;height:auto;">

<div mat-dialog-content>
  <p class="icon-text">
    <mat-icon>help_outline</mat-icon>
  {{ data.message }}。
  </p>
  <p>一度削除すると元に戻すことはできません。</p>
  <p>削除してもよろしいですか？</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-stroked-button style="width: 100px; height: 30px;" 
  color="warn" (click)="onConfirm()">OK</button>
  <button mat-stroked-button style="width: 120px; height: 30px;margin-left:10px;"
   color="primary" (click)="onCancel()">キャンセル</button>
</div>
</div>

