<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet"> 
  </head>
<body>
<div class="card">
    <div class="wrapper">
        <form #loginForm="ngForm" (ngSubmit)="passwordSubmit(f)" #f="ngForm">
            <h5>新しいパスワードを入力してください。</h5>
            <div class="input-box">
                <label class="label1" for="password">パスワード</label>
                <input type="{{ passwordType }}" 
                class="form-control" 
                id="password" 
                name="password" 
                ngModel
                #password="ngModel" required
                [ngClass]="{'is-valid':password.touched && password.invalid}" style="width: 200px;"
                pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$" required minlength="8">
                <!-- <i class="bi newPassword" [ngClass]="passwordType === 'password' ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i> -->
            </div>
            
        <div class="row alert-row">
            <!-- <span style="text-align: center;" class="help-block" *ngIf="password.invalid && password.touched">
                新パスワードを入力してください。
            </span> -->
            <span style="margin-left: 180px;"
            class="help-block"
            [hidden]="!password.hasError('pattern')">
            {{ "パスワードを英数字半角、8文字以上入力してください。" }}
           
        </span>
        </div>
    <!-- <div class="row confirm-pass"> -->
        <div class="input-box">
            <label for="oldpass">パスワードの確認</label>
            <input type="password" 
            class="form-control" 
            id="confirmPassword" 
            ngModel
            name="confirmPassword" style="width: 200px;" #confirmPassword="ngModel" required
            [ngClass]="{'is-valid':confirmPassword.touched && confirmPassword.invalid}"
            (input)="checkPasswordMatch()">
            <!-- <i class="bi confirmPassword" [ngClass]="passwordType === 'password' ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i> -->
        </div>
        <div class="row alert-row">
            <span style="text-align: center;"
             class="help-block" *ngIf="!confirmPassword.valid && confirmPassword.touched">
             パスワードの確認を入力してください。
            </span>
            <span style="text-align: center;" class="help-block" *ngIf="formSubmitted && errorMessage">{{ errorMessage }}</span>
           <!-- <div style="text-align: center;"
           class="help-block" [hidden]="passwordMatch || !confirmPassword.touched">
            パスワードが一致しません。</div> -->
        </div>
        <div class="btn-container">
            <button class="btn" type="submit">送信</button>
        </div>
        <!-- </div> -->
        </form>
    </div>
    </div>
</body>