<!DOCTYPE html>
<html>
  <body>
    <div class="container user-create-container">
      <div class="container user-create-title-container">
        <div class="row user-create-title-row">
          <div class="col-6">
              <!-- <div class="icon" style="margin-top: 19px;">
                    <mat-icon aria-hidden="false"
               aria-label="Example home icon"
               fontIcon="user" style="padding-top:3px;">person</mat-icon>
                    <span style="margin-left: 10px;">オーナ詳細画面
                    </span>

              </div> -->
              <div class="icon" style="margin-top: 19px; display:flex; align-items:center">
                <mat-icon style="font-size: 35px; width:auto;height:auto">person</mat-icon>
                <span style="margin-left: 10px;">担当者情報詳細画面</span>
              </div>
          </div>
          <div class="col-2"></div>
          <div class="col-4" style="margin-top: 19px;">
              <div class="row">
                <div class="col-2">
                  <button mat-stroked-button class="backBtn" style="width: 100px; height: 30px;" (click)="back()">
                    <!-- (click)="navigateToUpdatePage(userInfo.id)" -->
                      <!-- <mat-icon aria-hidden="false"
                       aria-label="Example edit icon" fontIcon="edit"></mat-icon> -->
                     戻る
                  </button>
              </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2">
                      <button mat-stroked-button class="updateBtn" style="width: 100px; height: 30px;" (click)="navigateToUpdatePage(userInfo.id)" >
                        <!-- (click)="navigateToUpdatePage(userInfo.id)" -->
                          <mat-icon aria-hidden="false"
                           aria-label="Example edit icon" fontIcon="edit"></mat-icon>
                          編集
                      </button>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-2">
                      <button mat-stroked-button class="deleteBtn" style="width: 100px; height: 30px;" (click)="confirmDelete(userInfo.id,userInfo.firstName,userInfo.lastName)">
                        <!-- (click)="confirmDelete(userInfo.id,userInfo.propertyName)" -->
                          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
                          削除
                      </button>
                  </div>
              </div>

           </div>
  </div>
    </div>
      <form class="form-horizontal " class="user-create-form">
        <div class="user-container">
          <p class="container-title"></p>

        <div class="user-information">
         
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="firstName" >姓<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="text"
                  class="form-control"
                  id="firstName"
                  [(ngModel)]="userInfo.firstName"
                  name="firstName" readonly
                  #firstName="ngModel"
                  style="width: 265px;  height:35px;"
                  [ngClass]="{'is-valid':firstName.touched && firstName.invalid}"
                  disabled 
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div class="inner">
                  <div class="text-center">
                    <label for="lastName" >名<span style="color: red">*</span></label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="leftfield">
                  <input type="text" class="form-control"
              id="lastName"
              [(ngModel)]="userInfo.lastName"
              #lastName="ngModel" readonly
              name="lastName" required [ngClass]="{'is-valid':lastName.touched && lastName.invalid}"
              style="width: 265px; height:35px;"
              disabled 
              >
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!firstName.valid && firstName.touched">
                   姓を入力してください。</div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <div
                style="margin-left: 26px;"
                 class="help-block" *ngIf="!lastName.valid && lastName.touched">
                 名を入力してください。</div>
              </div>
             </div>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="firstNamekana" >姓（カナ）<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="text"
                  class="form-control"
                  id="firstNamekana" readonly
                  required
                  [(ngModel)]="userInfo.firstNamekana"
                  name="firstNamekana" pattern="^[\u30A0-\u30FF]+$"
                  style="width: 265px;  height:35px;"
                  #firstNamekana="ngModel"
                  [ngClass]="{'is-valid':firstNamekana.touched && firstNamekana.invalid}"
                  disabled 
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div class="inner">
                  <div class="text-center">
                    <label for="lastNamekana" >名（カナ）<span style="color: red">*</span></label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="leftfield">
                  <input type="text"
                  class="form-control"
                  id="lastNamekana" readonly
                  required
                  [(ngModel)]="userInfo.lastNamekana"
                  name="lastNamekana" pattern="^[\u30A0-\u30FF]+$"
                  style="width: 265px; height:35px;"
                  #lastNamekana="ngModel"
                  [ngClass]="{'is-valid':lastNamekana.touched && lastNamekana.invalid}"
                  disabled 
                  >
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <div
                    style="margin-left: 26px;"
                     class="help-block" *ngIf="!firstNamekana.valid && firstNamekana.touched">
                     姓(ｶﾅ)を入力してください。</div>
                     <div class="help-block"
                     style="margin-left: 26px;"

                      [hidden]="!firstNamekana.hasError('pattern')">
                      カタカナのみです。</div>



                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!lastNamekana.valid && lastNamekana.touched">
                   名（カナ）を入力してください。</div>
                   <div class="help-block"
                   style="margin-left: 26px;"

                    [hidden]="!lastNamekana.hasError('pattern')">
                    カタカナのみです。</div>
                </div>
               </div> -->
            </div>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="gender" >性別<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <!-- <select
                  class="form-control"
                  id="gender"
                  required
                  [(ngModel)]="userInfo.gender"
                  name="gender"
                  #gender="ngModel"
                  required [ngClass]="{'is-valid':gender.touched && gender.invalid}"
                  >
                    <option value="男性">男性</option>
                    <option value="女性">女性</option>
                  </select> -->
                  <input type="text"class="form-control"
                  id="gender"
                  [(ngModel)]="userInfo.gender"
                  name="gender" readonly
                  #gender="ngModel"
                  style="width: 75px;  height:35px;"
                  disabled>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!gender.valid && gender.touched">
                   性別を選択してください。</div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
              </div>
             </div> -->
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="birthday" >生年月日</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="date"
                  class="form-control"
                  id="birthday" readonly
                  [(ngModel)]="userInfo.dateOfBirth"
                  name="birthday"
                  #birthday="ngModel"
                  (input)="validateBirthday()"
                  [style.color]="isAbove20 ? 'black' : 'red'"
                  [ngClass]="{'invalid-date': !isAbove20 && userInfo.dateOfBirth!== ''}"
                  style="width: 265px;  height:35px;"
                  disabled 
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <!-- <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!birthday.valid && birthday.touched">
                   生年月日を選択してください。</div> -->
                   <div  *ngIf="!isAbove20 && userInfo.dateOfBirth!== ''" class="help-block">
                    生年月日は 20 年以上前の日付を選択してください。</div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
              </div>
             </div> 
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="department" >部署</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="text"
                  class="form-control"
                  id="department" readonly
                  [(ngModel)]="userInfo.department"
                  name="department"
                  #department="ngModel"
                  [ngClass]="{'is-valid':department.touched && department.invalid}"
                  style="width: 265px;  height:35px;"
                  disabled 
                  >
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!department.valid && department.touched">
                   部署を入力してください。</div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
              </div>
             </div> -->
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="phone1" >電話番号<span style="color: red">*</span></label>
                </div>
              </div>

              <div class=" col-md-3">

                <div class="row">
                <div class="col-md-3">
                <input type="tel" class="form-control"
                  id="phone1" readonly
                  required
                  [(ngModel)]="userInfo.phone1"
                  name="phone1"
                  #phone1="ngModel" [maxLength]="3"
                  style="width: 60px;  height:35px; " 
                  class="form-control"
                  disabled 
                  >
                </div>
                  <div class="col-md-1">
                    <span>-</span>
                  </div>
                  <div class="col-md-3"> <input type="tel"
                  class="form-control"
                  id="phone2" readonly
                  required
                  [(ngModel)]="userInfo.phone2"
                  name="phone2"
                  #phone2="ngModel"
                  style="width: 60px;  height:35px;" 
                  class="form-control" 
                  [maxLength]="4"
                  disabled 
                  >
                </div>
                <div class="col-md-1">
                  <span>-</span>
                </div>
                  <div class="col-md-3"><input type="tel"
                    class="form-control"
                    id="phone3" readonly
                  required
                  [(ngModel)]="userInfo.phone3"
                  name="phone3"
                  #phone3="ngModel"
                  style="width: 60px;  height:35px;" 
                  class="form-control" 
                  [maxlength]="4"
                  disabled 
                  >
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="email" >メールアドレス<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="text"
                  class="form-control"
                  id="email" readonly
                  required
                  [(ngModel)]="userInfo.email"
                  name="email"
                  #email="ngModel"
                  style="width: 250px;"
                  required 
                  [ngClass]="{'is-valid':email.touched && email.invalid}" 
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                  style="width: 265px;  height:35px;"
                  disabled 
                  >
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!email.valid && email.touched">
                   メールアドレスを入力してください。</div>
                   <div class="help-block"
                     style="margin-left: 26px;"

                      [hidden]="!email.hasError('pattern')">
                      正しいメールアドレスを使ってください。</div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
              </div>
             </div> -->
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="postalcode1" >郵便番号</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-4">
                  <input type="text"
                  class="form-control"
                  id="postalcode1" readonly
                  [(ngModel)]="userInfo.postalcode1"
                  name="postalcode1"
                  #postalcode1="ngModel"
                  style=" width:95px;height:35px;" 
                  [maxlength]="3"
                  [minlength]="3"
                  disabled 
                  >
                </div>
                  <div class="col-md-1">
                    <span>-</span>
                  </div>
                  <div class="col-md-4">
                  <input type="text"
                  class="form-control"
                  id="postalcode2" readonly
                  [(ngModel)]="userInfo.postalcode2"
                  name="postalcode2"
                  #postalcode2="ngModel"
                  style=" width:95px;height:35px;"
                  [maxlength]="4"
                  [minlength]="4"
                  disabled 
                  >
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="address" >住所</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="text"
                  class="form-control" readonly
                  id="address"
                  [(ngModel)]="userInfo.address"
                  name="address"
                  #address="ngModel"
                  [ngClass]="{'is-valid':address.touched && address.invalid}"
                  style="width: 265px;height: 35px;"
                  disabled 
                  >
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <div
                  style="margin-left: 26px;"
                   class="help-block" *ngIf="!address.valid && address.touched">
                   住所を入力してください。</div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
              </div>
             </div> -->
          </div>
          <!-- <div class="form-group" style="margin-top: 20px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="text-center inner">
                  <label for="password" >パスワード<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="leftfield">
                  <input type="text"
                  class="form-control"
                  id="password" readonly
                  required
                  [(ngModel)]="userInfo.password"
                  name="password"
                  #password="ngModel"
                  required [ngClass]="{'is-valid':password.touched && password.invalid}"
                  pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5">
                  <div style="margin-left: -26px;" class="help-block" *ngIf="!password.valid && password.touched">
                   パスワードを入力してください。</div>
                   <div class="help-block"
                   style="margin-left: -20px;"

                    [hidden]="!password.hasError('pattern')">
                    パスワードは8文字以上で、数字と英字を含める必要があります。</div>
              </div>
             </div>
          </div> -->
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="text-center inner">
                <label for="startDate" >利用開始日</label>
              </div>
            </div>
            <div class="col-md-2" style="margin-left: 20px;">
              <div class="leftfield">
                <input type="date" readonly
                class="form-control"
                id="startDate"
                [(ngModel)]="userInfo.startDate"
                name="startDate"
                #startDate="ngModel"
                (change)="checkDateRange()"
                [ngClass]="{'is-valid':startDate.touched && startDate.invalid}"
                style="width: 265px;height: 35px;"
                disabled 
                >
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div
                style="margin-left: 26px;"
                 class="help-block" *ngIf="!startDate.valid && startDate.touched">
                 利用開始日を選択してください。</div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
            </div>
           </div> -->
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="text-center inner">
                <label for="startdate" >利用終了日</label>
              </div>
            </div>
            <div class="col-md-2" style="margin-left: 20px;">
              <div class="leftfield">
                <input type="date" readonly
                class="form-control"
                id="endDate"
                [(ngModel)]="userInfo.endDate"
                name="endDate"
                #endDate="ngModel"
                (change)="checkDateRange()"
                [ngClass]="{'is-valid':endDate.touched && endDate.invalid}"
                style="width: 265px;height: 35px;"
                disabled 
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <div *ngIf="!endDate.valid && endDate.touched" style="margin-left: 20px;" class="help-block" >
                利用終了日を選択してください。</div>
                <div *ngIf="errorMessageDate  && !endDate.hasError('required')" class="error-message" style="color: red; margin-left: 20px; font-size: 13px;" >
                  {{ errorMessageDate }}
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
            </div>
           </div>
        </div>
        <br>
      </div>
      <div class="form-group">
        <div class="col-md">
          <div class="button-group"></div>
        </div>
      </div>
      </form>
    </div>
  </body>
</html>
