.help-block{
    color: red;
    margin-left: 275px;
    font-size: 13px;
  }
  .image_check
  {
  color: red;
  margin-left: 7px;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .required label:after {
    color: #e32;
    content: ' *';
    display:inline;
  }
  .bankformat-detail-container{
    margin-top: 50px;
    width: 100%;
    height: 450px;
    background-color: rgb(126, 161, 154);
    border-radius: 5px 5px 5px 5px;
  }
  
  .container.bankformat-detail-title-container{
  width: 100%;
  height: auto;
  padding-top: 40px;
  margin-left: 10px;
  }
  .row.bankformat-detail-title-row{
  width: 100%;
  height: 70px;
  background-color: rgba(249, 246, 246, 0.904);
  margin-bottom: 50px;
  border-radius: 6px 6px 6px 6px;
  }
  .bankformat-detail-form{
      
      margin-left: 5%;
      width: 100%;
      height: auto;     
  }
  .form-group{
    margin-left: 30px;
  }
  button{
  align-content: center;
  color:black;
  width: 150px;
  background-color: rgba(249, 246, 246, 0.904);
  }
  button:hover{
    color:white;
   background-color:rgb(127, 161, 130); 
  }
  .bi.bi-person-square{
  fill: rgb(127, 161, 154); 
  }
  .button-group{
  width: 100%;
  height: 70px;
  margin-top: 30px; 
  }
  .bankformat-container{
  width: 98%;
  height: 250px;
  background-color: rgba(249, 246, 246, 0.904);
  border-radius: 6px 6px 6px 6px;
  margin-top: 10px;
  margin-left: 10px;
  }
  mat-select.ng-invalid.ng-touched {
  border: 2px solid red;
  }
  .bankformat-information {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    margin-right: 20px;
  
  }
  .leftfield .ng-invalid.ng-touched {
    border: 2px solid red;
  }
    button.backBtn{
      background-color: white;
    }
    
    button.updateBtn{
      background-color: white;
    }
    
    button.deleteBtn{
      background-color: red;
    }
    .edit-button{
      width: 150px;
      height: 35px;
      margin-right: 50px;
      border-radius: 5px;
      border: 0.5px solid black;
      margin-left: -350px;
    }
    button:hover{
    color:black;
    background-color: rgb(127, 161, 154);
  }