<div class="container"></div>
<div class="container password-change">
    <div class="row"></div>
    <div class="row title-row">
        <p>パスワード変更画面</p>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="password-change-form">
        <div class="form-group">
            <div class="row old-pass">
                <div class="col-md-2">
                    <label for="oldpass">古パスワード</label>
                </div>
                <div class="col-md-1">
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                        style="width: 200px;margin-left:-3px;" ngModel name="oldPassword" #oldPassword="ngModel"
                        required [ngClass]="{'is-valid':oldPassword.touched && oldPassword.invalid}">
                </div>
            </div>
            <div class="row alert-row">
                <div style="margin-left: 10px;" class="help-block" *ngIf="!oldPassword.valid && oldPassword.touched">
                    古パスワードに入力してください。</div>


            </div>

            <div class="row new-pass">
                <div class="row old-pass">
                    <div class="col-md-2">
                        <label for="oldpass">新パスワード</label>
                    </div>
                    <div class="col-md-1">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" ngModel
                            name="newPassword" #newPassword="ngModel" required
                            [ngClass]="{'is-valid':newPassword.touched && newPassword.invalid}" style="width: 200px;"
                            pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$" required minlength="8">
                    </div>
                </div>
                <div class="row alert-row">
                    <!-- <div
                style="margin-left: 10px;"
                 class="help-block" *ngIf="!newPassword.valid && newPassword.touched">
                新パスワードに入力してください。</div>
                <div class="help-block" [hidden]="!newPassword.hasError('pattern')">
                    パスワードに8文字以上を入力してください。</div> -->
                    <div style="margin-left: 10px;" class="help-block">
                        <!-- Show this message if the field has been touched but is empty -->
                        <div *ngIf="newPassword.touched && newPassword.hasError('required')">
                            新パスワードに入力してください。
                        </div>

                        <div *ngIf="newPassword.touched && newPassword.hasError('pattern')">
                            パスワードに8文字以上を入力してください。
                        </div>
                    </div>


                </div>
            </div>
            <div class="row confirm-pass">
                <div class="row old-pass">
                    <div class="col-md-2">
                        <label for="oldpass">パスワードの確認</label>
                    </div>
                    <div class="col-md-1">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel
                            name="confirmPassword" style="width: 200px;" #confirmPassword="ngModel" required
                            [ngClass]="{'is-valid':confirmPassword.touched && confirmPassword.invalid}"
                            (input)="checkPasswordMatch()">
                    </div>
                </div>
            </div>
            <div class="row alert-row">
                <!-- <div style="margin-left: 10px;" class="help-block"
                    *ngIf="!confirmPassword.valid && confirmPassword.touched">
                    パスワードの確認に入力してください。</div> -->
                <!-- <div class="help-block" [hidden]="passwordMatch || !confirmPassword.touched">
                パスワードが一致しません。</div> -->
                <!-- <span class="help-block" *ngIf="formSubmitted && errorMessage">{{ errorMessage }}</span> -->
                <div *ngIf="confirmPassword.hasError('required') && (confirmPassword.touched || confirmPassword.dirty) "
                    style="color: red;">
                    パスワードの確認に入力してください。
                </div>

                <div *ngIf="formSubmitted && errorMessage && !confirmPassword.hasError('required') "
                    style="color: red;">
                    {{ errorMessage }}
                </div>
            </div>

        </div>

<br>
<div class="row button-row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <button mat-stroked-button class="profileBtn" style="width: 160px; height: 30px;"
            (click)="onProfile(userInfo.id)">プロフィール画面</button>

    </div>
    <div class="col-md-2">
        <button mat-stroked-button class="updateBtn" style="width: 130px; height: 30px;" type="submit">更新</button>

    </div>
    <div class="col-md-2">
        <button mat-stroked-button style="width: 130px; height: 30px;" type="reset" (click)="onReset()">キャンセル</button>

    </div>

</div>
<br>
</form>
</div>