.title-row{
    margin-top: 10px;
}
p{
    font-size: 15px;
    font-weight: bold;
}
.row{
    padding-top: 15px;
    padding-left: 10px;
}
.row.alert-row{
    margin-left: 15%;
}

.button-group{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    /* margin-left: 8%; */
}

button{
    align-content: center;
    color:black;
    width: 150px;
    background-color: rgba(249, 246, 246, 0.904);

    /* background-color:rgb(127, 161, 154);  */
}
.profileBtn{
    background-color: rgb(46, 92, 143);
}
.updateBtn{
    background-color: rgb(46, 92, 143);
}
button:hover{
    color:black;
    background-color:rgb(127, 161, 154); 
    /* background-color: rgba(249, 246, 246, 0.904); */
}

.help-block{
    color: red;
    font-size: 12px; 
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
  }

textarea.ng-invalid.ng-touched {
    border: 2px solid red;
  }

.password-change{
    margin-top: 45px;
    width: 100%;
    /* height: 500px; */
    background-color: rgb(126, 161, 154);
}

.form-group{
    margin-top: 20px;
    margin-left: 8px;
    width: 98%;
    /* height: auto; */
    background-color: rgba(249, 246, 246, 0.904);
    padding-bottom: 20px;

}